*{
    margin:0 ;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
body{
    margin-left: 10px;
}
header{
    background-image:url(./images/crowd-1056764_960_720.jpg) ;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color:orange;
    padding-top:100px ;
}
.first-parent{
    margin: auto auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 60px;
    margin-bottom: 50px;
}
.first-link{
    display: flex;
    justify-content:center;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 200px;
    margin-bottom: 2px;
    font-size: 200%;
    padding-right: 5px; 
    padding-left: 5px;
}
.first-link :hover{
    color:lightblue;
    background-color: rgb(0, 0, 27);
    border-radius: 10px;
    transition: 0.2;
}
.header-link{
    color:yellow;
    padding: 10px;
}

.first-main{
    display: flex;
    justify-content: center;
}

.main-link{
    margin: 2px;
    text-align: center;
    background-color: grey;
    padding-block: 20px;
    padding-left:7%;
    padding-right:7%;
    border: 2px solid black
}
.main-link:hover{
    border-bottom: 5px solid black;
    border-left: 5px solid black;
}
.home{
    display: grid;
    justify-content: center;
    margin-top: 30px;
}
.home-link{
    background-color: darkgray;
    border: 5px double black;
    border-radius: 20px;
    padding-block: 40px;
    margin-block: 10px;
    width: 600px;
    text-align: center;
    font-size: 300%;
}
.home-link:hover{
    color: black;
    background-color: gray;
}
footer{
    background-color: lightgrey;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin: 10px;
}

@media (max-width: 900px){

    .main-link{
        width: 100%;
    padding-left: 12px;
    padding-right: 12px;
    padding-block: 20px;
}

.first-link{
    display: flex;
    justify-content:center;
    margin-left: 1px;
    font-size: 150%;
    position: sticky;
}


}
